@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1F002B;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideOut {
  from {
      transform: translateX(0);
      opacity: 1;
  }
  to {
      transform: translateX(-100%);
      opacity: 0;
  }
}

@keyframes circularMotion {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, 20px);
  }
  50% {
    transform: translate(40px, 0);
  }
  75% {
    transform: translate(20px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.bubble-animation {
  animation: circularMotion 3s infinite;
}
.bubble-animation:nth-child(2n) {
  animation-duration: 4s;
}
.bubble-animation:nth-child(3n) {
  animation-duration: 5s;
}
.bubble-animation:nth-child(6n) {
  animation-duration: 6s;
  }
  
  @media (max-width: 500px) {
    .bubble-animation:nth-child(2n) {
    border: green 3px solid;
    animation-duration: 3s;
  }
  .bubble-animation:nth-child(4n) {
    animation-duration: 2s;
  }
}

